// styles/work.scss
@use 'variables' as *;

.work {
  background-color: $color-bg;
  padding: 6rem 0;
  
  .work-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
    
    h2 {
      font-size: 2.5rem;
      font-weight: 300;
      margin-bottom: 4rem;
      
      @media (min-width: $breakpoint-md) {
        font-size: 3rem;
      }
    }
    
    .projects-grid {
      display: flex;
      flex-direction: column;
      gap: 6rem;
      
      // This ensures consistent sizing on mobile too
      @media (max-width: $breakpoint-md) {
        .project-image {
          height: 0;
          padding-bottom: 56.25%; // 16:9 aspect ratio (9/16 = 0.5625)
          position: relative;
          
          img, .youtube-link {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}